body {
  background: #404040;
  color: #f8f8f8;
  font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#sidebar {
  position: absolute;
  left:  66.6666%;
  width: 33.3333%;
}

#overviewMap {
  z-index: 0;
  border-right: 1px solid #fff;
  position: absolute;
  right: 33.3333%;
  width: 66.6666%;
  top: 0;
  bottom: 0;
}

#detailedMap {
  z-index: 0;
  position: absolute;
  height: 20%;
  width: 65%;
  bottom: 1%;
  left: 1%;
}


#detailedMapContainer #localview {
  z-index: 2;
  position: absolute;
  bottom: 17.3%;
  left: 1%;
  float: right;
  padding: 15px;
  border: 1px solid black;
  background: #2c3e50;
}

#overviewMapContainer p {
  z-index: 2;
  position: absolute;
  float: right;
  padding: 15px;
  border: 1px solid black;
  background: #2c3e50;
}

.heading h1 {
 text-align: center;
}

#listing .icon{
  display:inline-block;
}

.sub-item {
  margin-left: 12%;
  overflow-wrap: break-word;
  max-width:210px;
  display:  inline-block;
}

.sub-item-image {
  white-space: normal;
  width: 70px;
  height: 100%;
  float: left;
}

#timecontrol {
  width: 30%;
  margin-left: 2%;
  position:fixed;
  bottom: 50px;
}

#daycontrol {
  width: 7%;
  margin-left: 2%;
  position:fixed;
  bottom: 75px;
}

.sidebarImg {
  width: 100%;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  /*white-space: nowrap;*/
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item_img {
  display: block;
  border-bottom: 1px solid #eee;
  padding-bottom: 0px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color:#eee;
  font-weight: 700;
}

.listings .description {
  display: block;
  color:#eee;
  font-size: 10px;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
  background-color: #f8f8f8;
}

.leaflet-routing-container {
  display: none;
}


.transitPath {
  fill: none;
  stroke-width: 2px;
  z-index: 99;
}

.transitBadge {
  z-index:100;
}


